/* .products.main .item {
    flex-direction: column;
    flex: 0 0 100%;
    padding: 0 0.938em;
    padding-bottom: 2em;
} */
.products.main .media{
    height: 300px;
}


@media screen and (min-width: 481px) {
	.products.main .item {
        flex: 0 0 50%;
    }
}