.product-categories .item {
	display: flex;
	padding: 1.5em;
}
.product-categories .image {
	max-width: 200px;
}
.mini-links ul {
	font-size: var(--font-small);
	color: var(--light-text-color);
	margin-top: 1em;
}
.product-categories .second-links {
	margin-top: 2em;
}
.mini-links li:hover {
	text-decoration: underline;
}

@media screen and (min-width: 992px) {
	.product-categories .row {
		flex: 0 0 22.2222%;
	}
}
