.banners .item {
	position: relative;
	/* background-color: bisque; */
	/* border: 1px solid var(--border-color); */
}
.banner .get-gray {
    width: 100%;
    max-width: 1024px;
	background-color: var(--border-color);
}
.banner .image {
	width: 100%;
    object-fit: fill;
}
/* .banner img {
    width: 300px;
    height: 300px;
} */
.banner .text-content {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--percent100);
	height: var(--percent100);
	padding: 1.5em 2.5em;
}
.banner h3 {
	font-size: calc(1em+0.5vm);
	font-weight: var(--fw3);
}
.banner h3 span {
	font-size: 80%;
}
.banner .deal {
    color: var(--light-text-color);
}
.banner .primary-button {
    z-index: 3;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
	.banner .row {
		flex: 0 0 50%;
	}
}
